In [13]:
import pandas as pd
import numpy as np
import zipfile

In [14]:
#lendo os arquivos compactados direto da url usando o zipfile

dados2018 = pd.read_csv('https://arquivos.prf.gov.br/arquivos/index.php/s/MaC6cieXSFACNWT/download', encoding='latin1', compression ='zip', sep=';')
dados2019 = pd.read_csv('https://arquivos.prf.gov.br/arquivos/index.php/s/kRBUylqz6DyQznN/download', encoding='latin1', compression ='zip', sep=';')
dados2020 = pd.read_csv('https://arquivos.prf.gov.br/arquivos/index.php/s/jdDLrQIf33xXSCe/download', encoding='latin1', compression='zip', sep=';')

#concatenando os 3 dfs em um só

dadosconc = pd.concat([dados2018,dados2019,dados2020])
dadosconc

,id,data_inversa,dia_semana,horario,uf,br,km,municipio,causa_acidente,tipo_acidente,...,feridos_graves,ilesos,ignorados,feridos,veiculos,latitude,longitude,regional,delegacia,uop
0,99973.0,2018-01-01,segunda-feira,00:20:00,RJ,116.0,"303,5",RESENDE,Condutor Dormindo,Saída de leito carroçável,...,4,1,0,4,1,"-22,46937","-44,44705",SR-RJ,DEL5/7,UOP03/RJ
1,99976.0,2018-01-01,segunda-feira,00:40:00,SC,282.0,"0,4",FLORIANOPOLIS,Não guardar distância de segurança,Colisão traseira,...,2,1,0,2,2,"-27,59971687","-48,57565694",SR-SC,DEL8/1,UOP01/SC
2,99977.0,2018-01-01,segunda-feira,00:30:00,RJ,493.0,1,ITABORAI,Ultrapassagem Indevida,Colisão frontal,...,0,3,1,1,3,"-22,763901","-42,927532",SR-RJ,DEL5/4,UOP02/RJ
3,99981.0,2018-01-01,segunda-feira,01:15:00,RS,386.0,134,SARANDI,Ingestão de Álcool,Colisão transversal,...,0,2,0,0,2,"-27,953636","-52,916374",SR-RS,DEL9/14,UOP01/RS
4,99982.0,2018-01-01,segunda-feira,00:20:00,RS,293.0,"151,7",CANDIOTA,Falta de Atenção à Condução,Saída de leito carroçável,...,1,0,0,1,1,"-31,395214","-53,78391174",SR-RS,DEL9/11,UOP03/RS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63543,364615.0,2020-03-20,sexta-feira,09:00:00,RN,304.0,"171,8",ANGICOS,Falta de Atenção à Condução,Colisão traseira,...,1,2,0,2,4,"-5,68711053","-36,419458",SR-RN,UOP03,DEL01
63544,364810.0,2020-09-12,sábado,23:50:00,BA,116.0,"11,5",VITORIA DA CONQUISTA,Ingestão de Álcool,Colisão lateral,...,0,2,0,1,2,"-14,87308214","-40,87141514",SR-BA,UOP01,DEL08
63545,364817.0,2020-10-30,sexta-feira,10:30:00,BA,116.0,"14,3",VITORIA DA CONQUISTA,Falta de Atenção à Condução,Colisão lateral,...,0,2,0,2,2,"-14,89597653","-40,86098671",SR-BA,UOP01,DEL08
63546,364835.0,2020-09-20,domingo,23:00:00,BA,116.0,8,VITORIA DA CONQUISTA,Velocidade Incompatível,Queda de ocupante de veículo,...,0,0,0,1,1,"-14,84732305","-40,88634968",SR-BA,UOP01,DEL08
63547,364903.0,2020-10-31,sábado,02:10:00,BA,116.0,3,VITORIA DA CONQUISTA,Animais na Pista,Atropelamento de Animal,...,1,0,0,1,1,"-14,824848","-40,861311",SR-BA,UOP01,DEL08

In [15]:
# questão 2a. Usando o len do df posso conseguir a quantidade de linhas que correspondem a quantidade de acidentes

print('Em 2018 ocorreram', len(dados2018), 'acidentes, em 2019 foram', len(dados2019), 'acidentes e', len(dados2020), 'em 2020.')

Em 2018 ocorreram 69295 acidentes, em 2019 foram 67446 acidentes e 63548 em 2020.

In [16]:
# questão 2b. Também usando o len posso conseguir a quantidade de variaveis, mas dessa  vez usando o .columns para contar as colunas do df

print('O df de 2018 possui', len(dados2018.columns), 'variávies,', 'o de 2019 possui', len(dados2019.columns), 'e o df de 2020 possui', len(dados2020.columns), 'variáveis. Ou seja, possuem a mesma quantidade.')

O df de 2018 possui 30 variávies, o de 2019 possui 30 e o df de 2020 possui 30 variáveis. Ou seja, possuem a mesma quantidade.

In [17]:
# questão 2c. Usando o groupby é possível agrupar os dados pela coluna que quero, usando também o reset_index para resetar e adicionar um contador ao lado.

print('Em 2020, as cidades que mais ocorreram acidentes foram:')
dados20 = dados2020.groupby(['municipio']).size().reset_index(name = 'count')
dados20 = dados20.sort_values(by = 'count', ascending=False)
dados20.head()

Em 2020, as cidades que mais ocorreram acidentes foram:

      municipio  count
230    BRASILIA   1040
494    CURITIBA    950
671   GUARULHOS    639
1524   SAO JOSE    629
1137    PALHOCA    593

In [18]:
# questão 2d. Utilizo a filtragem para obter os referentes a PB 

pb2019 = dados2019[(dados2019.uf == 'PB') & (dados2019.feridos_graves >= 1)]
print('A Paraiba obteve', len(pb2019), 'acidentes com pessoas gravemente feridas em 2019')
pb2019.head()

A Paraiba obteve 414 acidentes com pessoas gravemente feridas em 2019

,id,data_inversa,dia_semana,horario,uf,br,km,municipio,causa_acidente,tipo_acidente,...,feridos_graves,ilesos,ignorados,feridos,veiculos,latitude,longitude,regional,delegacia,uop
47,182271.0,2019-01-01,terça-feira,04:15:00,PB,361.0,"38,8",CATINGUEIRA,Ingestão de Álcool,Saída de leito carroçável,...,1,0,0,1,1,"-7,10157405","-37,60036469",SR-PB,DEL14/3,UOP01/PB
82,182312.0,2019-01-01,terça-feira,13:45:00,PB,230.0,"18,9",JOAO PESSOA,Defeito Mecânico no Veículo,Tombamento,...,1,1,0,1,2,"-7,129088","-34,850031",SR-PB,DEL14/1,UOP00/PB
357,182656.0,2019-01-03,quinta-feira,07:50:00,PB,101.0,"81,3",BAYEUX,Desobediência às normas de trânsito pelo condutor,Colisão lateral,...,1,1,0,1,2,"-7,126998","-34,941341",SR-PB,DEL14/1,UOP00/PB
564,183385.0,2019-01-04,sexta-feira,13:15:00,PB,230.0,"17,8",JOAO PESSOA,Não guardar distância de segurança,Colisão traseira,...,1,1,0,2,2,"-7,12064741","-34,84509414",SR-PB,DEL14/1,UOP00/PB
950,183831.0,2019-01-06,domingo,21:25:00,PB,101.0,10,MAMANGUAPE,Falta de Atenção à Condução,Colisão traseira,...,1,2,1,1,2,"-6,5959","-35,1448",SR-PB,DEL14/1,UOP03/PB

In [19]:
# questão 3a. Como jpa concatenei tudo na questão 1, apenas filtrarei com o groupby e depois organizar os rankings para salvar o csv

print("Estados com mais acidentes entre 2018 e 2020:")
lista = dadosconc.groupby(['uf']).size().reset_index(name='total')
lista1 = lista.sort_values(by='total', ascending=False )
lista1.to_csv("totalporeEstado.csv")
lista1

Estados com mais acidentes entre 2018 e 2020:

    uf  total
10  MG  26160
23  SC  24145
17  PR  22850
18  RJ  13417
22  RS  13216
25  SP  12936
4   BA  10482
8   GO  10046
7   ES   8018
15  PE   8011
12  MT   6963
5   CE   4962
20  RO   4648
14  PB   4553
11  MS   4505
19  RN   4190
16  PI   3920
9   MA   3501
13  PA   3040
6   DF   2997
1   AL   1948
24  SE   1746
26  TO   1704
0   AC    789
21  RR    723
3   AP    456
2   AM    363

In [20]:
# questão 3b. Mesmo processo da anterior mas salvando uma cópia no final

print('Quantidade de acidentes por dia da semana')
lista2 = dadosconc.groupby(['dia_semana']).size().reset_index(name='total')
lista2cop = lista2.sort_values(by = 'total', ascending = False)
print(lista2cop)

Quantidade de acidentes por dia da semana
      dia_semana  total
5         sábado  33005
0        domingo  33001
4    sexta-feira  30777
3  segunda-feira  27075
2   quinta-feira  26229
1   quarta-feira  25353
6    terça-feira  24849

In [21]:
ranking_dia = lista2cop.copy()
ranking_dia.to_csv("rankingDia.csv")

In [22]:
#questão 4a. O procedimento é parecido com o da questão 3 mas vou utillizar o tail para me mostrar a última linha  que representa a causa mais rara

ranking = dadosconc.groupby(['causa_acidente']).size().reset_index(name = 'total')
rankingcop = ranking.sort_values(by='total', ascending = False)
print("A causa mais frequente foi: ")
rankingcop.head(1)

A causa mais frequente foi:

                 causa_acidente  total
31  Falta de Atenção à Condução  73231

In [23]:
print("E a causa menos frequente foi:")
rankingcop.tail(1)

E a causa menos frequente foi:

                           causa_acidente  total
29  Estacionar ou parar em local proibido      1

In [33]:
#questão 4b.

#faço a soma dos valores correspondentes as colunas que vou usar

soma_pes20 =  dados2020['pessoas'].sum()
soma_ile20 = dados2020['ilesos'].sum()
soma_grave20 = dados2020['feridos_graves'].sum()

#faço a media dividindo os feridos gravemente e ilesos pelo total de pessoas

media_ile = round(soma_ile20/soma_pes20,2)
media_graves = round(soma_grave20/soma_pes20,2)

#printo os dados adquiridos

print('Em 2020 a proporção entre feridos e ilesos foi aproximadamente', media_ile)
print('já a proporção entre gravemente feridos e ilesos foi cerca de', media_graves,'\n')

#repito os passos com os outros anos:

#2019:
soma_pes19 = dados2019['pessoas'].sum()
soma_ile19 = dados2019['ilesos'].sum()
soma_grave19 = dados2019['feridos_graves'].sum()
media_ile19 = round(soma_ile19/soma_pes19,2)
media_graves19 = round(soma_grave19/soma_pes19,2)
print('Em 2019 a proporção entre feridos e ilesos foi aproximadamente', media_ile19)
print('Já a proporção entre gravemente feridos e ilesos foi cerca de', media_graves19, '\n')

#2018:
soma_pes18 = dados2018['pessoas'].sum()
soma_ile18 = dados2018['ilesos'].sum()
soma_grave18 = dados2018['feridos_graves'].sum()
media_ile18 = round(soma_ile18/soma_pes18,2)
media_graves18 = round(soma_grave18/soma_pes18,2)
print('Em 2018 a proporção entre feridos e ilesos foi aproximadamente', media_ile18)
print('já a proporção entre gravemente feridos e ilesos foi cerca de', media_graves18, '\n')

Em 2020 a proporção entre feridos e ilesos foi aproximadamente 0.41
já a proporção entre gravemente feridos e ilesos foi cerca de 0.12

Em 2019 a proporção entre feridos e ilesos foi aproximadamente 0.42
Já a proporção entre gravemente feridos e ilesos foi cerca de 0.11

Em 2018 a proporção entre feridos e ilesos foi aproximadamente 0.45
já a proporção entre gravemente feridos e ilesos foi cerca de 0.11

In [37]:
#questão 4c. criei copias dos dataframes que vinha usando e os concatenei em um novo, usei o grupby, reset index e printei do maior para o menor

cop_dados18 = dados2018.copy()
dados18 = cop_dados18.assign(ano=2018)

cop_dados19 = dados2019.copy()
dados19 = cop_dados19.assign(ano=2019)

cop_dados20 = dados2020.copy()
dados20 = cop_dados20.assign(ano=2020)

concatenados = pd.concat([dados18, dados19, dados20])
datafr = concatenados.groupby(['ano']).size().reset_index(name='total')
data_concat = datafr.sort_values(by='total', ascending=False)

print('Esses são os totais aproximados de acidentes que ocorreram a cada ano, onde é possível ver uma leve queda no ano de 2020, logo, a pandemia ajudou a diminuir a quantidade de acidentes')
data_concat

Esses são os totais aproximados de acidentes que ocorreram a cada ano, onde é possível ver uma leve queda no ano de 2020, logo, a pandemia ajudou a diminuir a quantidade de acidentes

    ano  total
0  2018  69295
1  2019  67446
2  2020  63548